/* .bg-image-color{
    background-image: url("bg-images/Rectangle\ 4.svg");
    width:10%;
    height:80vh;
    background-size: contain;
} */

.bg{
    width: 100%;
height: 100vh;
background-color: orange;

}

.top-align{
    display: flex;
    justify-content: center;
    flex-direction: row;
}



.button1{
    font-size: 20px;
    color: #a82a82;
    font-weight: 400;
    font-family: "Montserrat";
}
.button2{
    width: 130px;
    height: 60px;
    border-radius: 30px;
    filter: drop-shadow(0px 15px 25px rgba(64,21,89,0.2));
    background-color: #ffffff;
    border-color:blue;
}
.button-p{
    position: absolute;
    margin-left: 930px;
}

.contact{
    font-size: 20px;
color: red;
font-weight: 400;
font-family: "Montserrat";
text-align: right;
border: 0px;
background: none;
}
.contact-p{
    position: absolute;
    margin-left: 620px;
    margin-top: 14px;
}

.service{
    font-size: 20px;
color: red;
font-weight: 400;
font-family: "Montserrat";
text-align: right;
border: 0px;
background: none;
}
.service-p{
    position: absolute;
    margin-top: 14px;
    margin-left: 420px;
}

.about{
    font-size: 20px;
color:red;
font-weight: 400;
font-family: "Montserrat";
text-align: center;
border:  0px;
width: 138px;
height: 40px;
border-radius: 10px;
background-color: #dadada;
}
.about-p{
    position: absolute;
    margin-left: 110px;
    margin-top: 10px;
}
.logo{
    background-color:;
   
}
.logo-p{
    position: absolute;
    margin-right: 780px;
}

.text{
    padding-top: 80px;
    padding-left: 224px;
}

.des2{
    width: 629px;
height: 146px;
font-size: 18px;
line-height: 28px;
color: #ffffff;
font-weight: 300;
font-family: "Montserrat";
text-align: left;
}

.des1{
    font-size: 25px;
color: #ffffff;
font-weight: 900;
font-family: "Montserrat";
}


.me{
    display: flex;
    flex-direction: row;
}

.get-button{
    width: 180px;
height: 40px;
border-radius: 30px;
filter: drop-shadow(0px 15px 25px rgba(64,21,89,0.2));
background-color: #10d4eb;
margin-left: 7px;
}
.watch-button{
    width: 180px;
height: 40px;
border-radius: 30px;
filter: drop-shadow(0px 15px 25px rgba(64,21,89,0.2));
background: none;
border: 2px solid #ffffff;
margin-left: 20px;
}


/* .horizontal-line {
    height: 20px;
    width: 30px;
   
    border-top: 1px solid #000;
  }
  
.line{
    padding-right: 400px;
} */